#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  top: 0;
  color: rgb(255, 183, 28);
  text-align: center;
}

#no-mobile img {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
